.wrapper {
  --transition: 150ms all 20ms ease-out;
  @apply relative w-auto;
  @apply mx-2;

  &:after {
    content: '';
    @apply absolute;
    @apply top-0 left-1/3;
    transition: var(--transition);
  }

  &:hover,
  &:focus-within {
    .menu {
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    &:after {
      opacity: 1;
    }
  }

  &.linkClicked {
    pointer-events: none;

    .menu {
      transform: rotateX(-90deg) translateX(-50%) !important;
      visibility: hidden !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }

    &:after {
      opacity: 0 !important;
    }
  }
}

.trigger {
  pointer-events: auto;
  /* decoration */
  &::after {
    content: '\203A';
    display: block;
    margin-left: 0.5rem;
    transform: rotate(90deg);
  }
}

.menu {
  @apply absolute left-[calc(55%)] top-9;
  @apply py-0;
  @apply bg-background;
  @apply origin-top;
  min-width: 20ch;
  transition: var(--transition);
  transform: rotateX(-90deg) translateX(-50%);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  @apply shadow rounded;

  a {
    display: block;
    padding: 0.5em;
    transition: 0.35rem solid transparent;

    &:hover {
      background-color: rgba(10, 10, 10, 0.15);
    }

    &:focus {
      outline: none;
      background-color: rgba(10, 10, 10, 0.25);
    }
  }
}
