.wrapper {
  --transition: 150ms all 20ms ease-out;
  @apply relative max-w-[100px] w-auto;
  &:after {
    content: "";
    @apply absolute;
    @apply top-0 left-1/2;
    @apply -translate-x-1/2;
    transition: var(--transition);
  }

  &:hover,
  &:focus-within {
    .trigger {
    }

    .menu {
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
    }

    &:after {
      opacity: 1;
    }
  }
}

.trigger {
  /* decoration */
  &::after {
    content: "\203A";
    display: block;
    margin-left: 0.5rem;
    transform: rotate(90deg);
  }
}

.menu {
  @apply absolute left-1/2 top-8;
  @apply py-4;
  @apply bg-background;
  @apply origin-top;
  min-width: 15ch;
  transition: var(--transition);
  transform: rotateX(-90deg) translateX(-50%);
  visibility: hidden;
  @apply shadow rounded;
  a {
    display: block;
    padding: 0.5em;

    transition: 0.35rem solid transparent;

    &:hover {
      background-color: rgba(10, 10, 10, 0.15);
    }

    &:focus {
      outline: none;
      background-color: rgba(10, 10, 10, 0.25);
    }
  }
}
