.image-wrapper {
  /* https://www.wavegenerator.app/ */
  width: 100%;
  overflow: hidden;
  @apply h-[40vh] landscape:h-[25vh];
  &.large {
    @apply landscape:h-[70vh];
    figure {
      .text {
        @apply text-2xl md:text-4xl lg:text-6xl;
      }
    }
  }

  figure {
    display: block;
    @apply relative;
    width: 100%;
    height: 100%;
    @apply bg-primary;
    clip-path: var(--clip);
    .overlay {
      @apply absolute top-0 left-0 right-0 bottom-0;
      background: rgba(0, 0, 0, 0.2);
      clip-path: var(--clip);
      object-fit: cover;
    }
    .text {
      @apply absolute top-0 left-0 right-0 bottom-0;
      @apply text-white;
      @apply max-w-xl mx-auto;
      @apply flex items-center justify-center text-center p-4;
      @apply text-xl md:text-2xl lg:text-3xl font-bold;
      &.shadow {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }
    }
    img {
      /* using: https://www.wavegenerator.app/ */

      object-fit: cover;
      object-position: 0 25%;
      width: 100%;
      height: 100%;
    }
  }
}
