.image-wrapper {
  width: 100%;
  overflow: hidden;
  @apply landscape:h-[70vh];
  figure {
    display: block;
    width: 100%;
    height: 100%;
    img {
      clip-path: ellipse(82% 88% at 51% 11%);
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
    }
  }
}
