.wrapper {
  @apply px-8 w-full mx-auto;
  h1 {
    @apply font-bold text-base md:text-xl lg:text-3xl -mb-1;
  }
  :global(h2) {
    @apply !text-sm md:!text-base lg:!text-lg;
    @apply !leading-4;
  }
  :global(.fc-toolbar-title) {
    @apply font-bold text-lg;
  }
  :global(.fc-button) {
    @apply !text-sm md:!text-base lg:!text-lg;
    @apply !leading-4;
  }

  :global(.fc-today-button) {
    @apply hidden;
  }
}

.event {
  @apply text-xs;
  @apply border-0;
  @apply px-1;
  @apply bg-primary/10;
  :global(.fc-event-title) {
    @apply !text-foreground;
  }
}

.mobile-event {
  @apply text-xs;
  :global(.fc-list-event-time) {
    opacity: 0;
  }
}

.desktop {
  @apply hidden landscape:block;
  @apply w-full;
}

.mobile {
  @apply block landscape:hidden;
  @apply min-h-[70vh];
  :global(.fc) {
    height: 100%;
    flex-shrink: 0;
    @apply min-h-[70vh];
  }
  :global(th) {
    @apply text-sm md:!text-base lg:!text-lg;
  }
}
